---
import ProductWithFilter from "../view/ProductWithFilter"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro MVVM React</title>
	</head>
	<body>
		<h1>Astro MVVM React Example</h1>
		<ProductWithFilter client:load />
	</body>
</html>
