---
import ComponentLibraryView from "src/view/ComponentLibraryView";
import ProductWithFilter from "../view/ProductWithFilter";
/* import "/Users/emrekardaslar/Desktop/Workspace/Self/component-library/dist/css/Button.css";
import "/Users/emrekardaslar/Desktop/Workspace/Self/component-library/dist/css/ProductList.css";
import "/Users/emrekardaslar/Desktop/Workspace/Self/component-library/dist/css/hpl.css";
import "/Users/emrekardaslar/Desktop/Workspace/Self/component-library/dist/css/badge.css";
import "/Users/emrekardaslar/Desktop/Workspace/Self/component-library/dist/css/price.css"; */
//import "/Users/emrekardaslar/Desktop/Workspace/Self/component-library/dist/cjs/components/ProductList/ProductList.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro MVVM React</title>
	</head>
	<body>
		<h1>Astro MVVM React Example</h1>
		<ProductWithFilter client:load />
		<!-- <ComponentLibraryView client:load /> -->
	</body>
</html>
